- if current_user 
  = link_to "Sign out", destroy_user_session_path, :method => :delete 
- @cakes.each do |cake|
  = video_player src: { mp4: "#{cake.video}" }, controls: true, width: 300, height: 300