.row
  .span8
    .grid_column.left_margin
      .row.no-space
        .span4
          - seconds.each_with_index do |second, i|
            - if i%4 == 1
              .grid_item_background_1
                =render 'home/second', second:second
            - if i%4 == 3
              .grid_item_background_3
                =render 'home/second', second:second
        .span4
          - seconds.each_with_index do |second, i|
            - if i%4 == 2
              .grid_item_background_2
                =render 'home/second', second:second
            - if i%4 == 0
              .grid_item_background_4
                =render 'home/second', second:second

  .span4
    .grid_column
      - cakes.each_with_index do |cake, i|
        - if i%4 == 0
          .grid_item_background_1
            =render 'home/cake', cake:cake
        - if i%4 == 2
          .grid_item_background_2
            =render 'home/cake', cake:cake
        - if i%4 == 3
          .grid_item_background_3
            =render 'home/cake', cake:cake
        - if i%4 == 1
          .grid_item_background_4
            =render 'home/cake', cake:cake
.row
  .span8
    =will_paginate seconds, param_name: 'seconds_page'
  .span4
    =will_paginate cakes, param_name: 'cakes_page'
    